html {
	background:#b91f1f;
}

@media screen and (max-width: 640px) {
  .bloc {
    display:block;
    clear:both;
  }
}

body {
	font-size:1em;
	text-align:center;
	max-width:960px;
	font-family:Futura, "Century Gothic", AppleGothic, sans-serif;
	background-color:#fff;
	margin:10px auto;
	border-radius:10px;
	padding:1em 2em;
}

h1 {
	border-bottom:10px solid #ccc;
	padding-bottom:0.5em;
}

h1:first-word {
	font-size:3em;
	color:#b91f1f;
	display:block;
	margin-bottom:-20px;
}

h1 {
	-jkerny-word-spacing: 32px;
}

p {
	float:left;
	width:70%;
	margin:0.5em 0 1em 0;
}

h1:first-letter {
	-moz-transform:rotate(-10deg) translate(0, 10px);
	-o-transform:rotate(-10deg) translate(0, 10px);
	-webkit-transform:rotate(-10deg) translate(0, 10px);
	transform:rotate(-10deg) translate(0, 10px);
}

a {
	color:#b91f1f;
}

a:hover {
	color:#000;
}

h1 + div {
	float:right !important;
	margin-top:-115em !important;
}

a.download {
	background-color:#b91f1f;
	border:1px solid #b91f1f;
	color:#fff;
	float:right;
	padding:5px;
	text-decoration:none;
	font-size:1.5em;
	margin:0.5em 0 1em 0;
	border-radius:5px;
	text-shadow:1px 1px 0 rgba(0,0,0,0.3);
}

h2:last-word {
	color:#b91f1f;
}

h2 {
	clear:both;
	margin-top:2em;
}

h2, h3 {
	text-align:center;
}

section {
	padding:0 20%;
	text-align:left;
}

.pre, pre {
	background:#ebebeb;
	border:2px solid #ccc;
	padding:5px 35px;
	margin:5px 0;
	vertical-align:middle;
	overflow:auto;
}

footer {
	border-top:1px solid #ccc;
	margin-top:4em;
	padding:1em 0;
}


.example1 p:word:first-child {
	color:red;
}

.example1 p:word:first-child:hover {
	color:yellow;
}
.example2 p:word:last-child {
	font-weight:bold;
	background-color:red; 
	color:#fff;
}

.example3 p:first-letter {
	font-size:2em;
	font-weight:bold;
	position:relative;
	top:0.2em;
}

.example4 p:last-letter {
	background:lime;
	color:#fff;
	border-radius:5px;
}

.example5 p {
	font-size: 1.5em;
	-jkerny-letter-spacing: 2px -2px -1px -1px 2px;
}

.example6 p {
	font-size: 1.5em;
	-jkerny-word-spacing: -2px -2px -2px -2px;
}

.example7 p {
	font-size: 2em;
	color: #F4F1DE;
	text-transform:uppercase;
}

.example7 p:letter {
	width: 1em;
	text-align: center;
}

.example7 p:letter:nth-child(odd) {
	-webkit-transform: skewY(-15deg);
	-moz-transform: skewY(-15deg);
	-o-transform: skewY(-15deg);
	transform: skewY(-15deg);
	background-color: #E24B3B;
}

.example7 p:letter:nth-child(even) {
	-webkit-transform: skewY(15deg);
	-moz-transform: skewY(15deg);
	-o-transform: skewY(15deg);
	transform: skewY(15deg);
	background-color: #A93629;
}