@font-face {
    font-family: 'TravelconsRegular';
    src: url('travelcons-webfont.eot');
    src: url('travelcons-webfont.eot?#iefix') format('embedded-opentype'),
         url('travelcons-webfont.woff') format('woff'),
         url('travelcons-webfont.ttf') format('truetype'),
         url('travelcons-webfont.svg#TravelconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (max-width: 640px) {
  h1:letter {
  	color: red;
  }
}

html {
	background:#b91f1f;
}

body {
	font-size:1em;
	text-align:center;
	max-width:960px;
	font-family:Futura, "Century Gothic", AppleGothic, sans-serif;
	background-color:#fff;
	margin:10px auto;
	border-radius:10px;
	padding:1em 2em;
}

h1 {
	font-size: 3em;
	border-bottom:10px solid #ccc;
	padding-bottom:0.5em;
}

h1:first-word  {
	display: block;
	-jkerny-letter-spacing:2px 2px 2px 2px 2px
}

h1:first-word :letter {
	background-color:#b91f1f;
	color: #fff;
	border-radius: 1em;
	width: 1.4em;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.5), -1px -1px 0 rgba(255,255,255,0.3);
}

p {
	float:left;
	width:70%;
	margin:0.5em 0 1em 0;
}

h1:first-letter {
	-moz-transform:rotate(-10deg);
	-o-transform:rotate(-10deg);
	-webkit-transform:rotate(-10deg);
	transform:rotate(-10deg);
	text-transform: lowercase;
	background-color: #000;
	font-family: Verdana, Arial, sans-serif;
	position:relative;
	top: 0.1em;
	font-size:0.8em;
}

a {
	color:#b91f1f;
}

a:hover {
	color:#000;
}

h1 + div {
	float:right !important;
	margin-top:-115em !important;
}

a.download {
	background-color:#b91f1f;
	border:1px solid #b91f1f;
	color:#fff;
	float:right;
	padding:5px;
	text-decoration:none;
	font-size:1.5em;
	margin:0.5em 0 1em 0;
	border-radius:5px;
	text-shadow:1px 1px 0 rgba(0,0,0,0.3);
}

h2:last-word {
	color:#b91f1f;
}

h2 {
	clear:both;
	margin-top:2em;
}

h2, h3 {
	text-align:center;
}

section {
	padding:0 20%;
	text-align:left;
}

.pre, pre {
	background:#ebebeb;
	border:2px solid #ccc;
	padding:5px 35px;
	margin:5px 0;
	vertical-align:middle;
	overflow:auto;
}

footer {
	border-top:1px solid #ccc;
	margin-top:4em;
	padding:1em 0;
}


.example1 p:word:first-child {
	color:red;
}

.example1 p:word:first-child:hover {
	color:yellow;
}
.example2 p:word:last-child {
	font-weight:bold;
	background-color:red; 
	color:#fff;
}

.example3 p:first-letter {
	font-size:2em;
	font-weight:bold;
	position:relative;
	top:0.2em;
}

.example4 p:last-letter {
	background:lime;
	color:#fff;
	border-radius:5px;
}

.example5 p {
	font-size: 1.5em;
	-jkerny-letter-spacing: 2px -2px -1px -1px 2px;
}

.example6 p {
	font-size: 1.5em;
	-jkerny-word-spacing: -2px -2px -2px -2px;
}

.example7 p {
	font-size: 2em;
	color: #F4F1DE;
	text-transform:uppercase;
}

.example7 p:letter {
	width: 1em;
	text-align: center;
}

.example7 p:letter:nth-child(odd) {
	-webkit-transform: skewY(-15deg);
	-moz-transform: skewY(-15deg);
	-o-transform: skewY(-15deg);
	transform: skewY(-15deg);
	background-color: #E24B3B;
}

.example7 p:letter:nth-child(even) {
	-webkit-transform: skewY(15deg);
	-moz-transform: skewY(15deg);
	-o-transform: skewY(15deg);
	transform: skewY(15deg);
	background-color: #A93629;
}

.example8.pre {
	border: 1px solid #fff;
	background: #fff;
}

.example8 p {
	font-family: Arial, Helvetic, sans-serif;
	font-size: 4.5em;
	text-shadow: -1px -1px #666, 1px 1px #FFF;
	margin: 0;
	text-align: center;
	width: 100%;
	padding: 0;
}

.example8 p:letter:nth-child(2) {
	font-family: "TravelconsRegular", sans-serif;
	color: #dc4431;
}

.example8 p:first-letter {
	font-family: 'Caudex', Georgia, Times, "Times New Roman", serif;
	font-size: 1.2em;
}

.example8 p:letter:nth-child(3n+1) { color: #3b60c8; }
.example8 p:last-letter { color: #08941e }
.example8 p:letter:nth-child(3) { color: #f3a80a; }