body {
	font-family: Futura, "Century Gothic", AppleGothic, sans-serif;
	background: #90A5B6 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAF0lEQVQYlWNgYGCQIhJDCGLAqELKFQIAQ4IB74sCh3YAAAAASUVORK5CYII=);
}

h1 {
	color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	font-size: 5em;
	text-align: center;
	margin-bottom: 0.5em;
	margin-top: 0;
}

h2 {
	margin-top:2em;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.2), 2px 2px 0 rgba(0,0,0,0.2), 3px 3px 0 rgba(0,0,0,0.2), 4px 4px 0 rgba(0,0,0,0.2);
	text-align: center;
	
}

h1:first-word {
	color: #ebb4b4;
}

header a {
	display: block;
	margin-bottom: -2em;
	padding-left: 1em;
}

ul {
	clear: both;
	width: 100%;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li {
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	border: 8px solid rgba(0,0,0,0.1);
	padding: 5px 10px;
	margin: 10px;
	background-color: #D9D9D9;
	background: none no-repeat scroll 0 0 padding-box #D9D9D9;
	-o-box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
	-moz-box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	clear: top;
	overflow: hidden;
}

pre {
	float: left;
	width: 50%;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	max-width: 430px;
	min-width: 430px;
}

p {
	font-family: 'Patua One', cursive;
	font-size: 2em;
}

a {
	color: #ebebeb;
}

footer {
	color: #fff;
	text-align: center;
}